[Unit]
Description=cbftp

[Service]
Type=forking
Restart=on-failure
RestartSec=3
ExecStart=
ExecStart=/usr/bin/dtach -n /tmp/cbftp.sock /shit/cbftp/cbftp.sh
